body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
}

.carbox__size {
    width: 200px;
    height: 200px;
}

.carbox {
    text-align: center;
    background-color: white;
    margin: 1%;
    border: 2px solid blue;
}

.carbox--hidden{
    display: none;
}